
.grid {
	overflow: hidden;
	margin: 0;
	/*padding: 3em 0 0 0;*/
	width: 100%;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid div {
  margin: 10px;
  display: inline-block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  /* margin: -0.138em; */
  width: 20%;
  height: 300px;
  background: #999;
  text-align: center;
  cursor: pointer;
  /* margin-top: -3px; */
  /* margin-bottom: -3px; */
}

.grid figure {
	/*position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	margin: -0.138em;
	width: 33.333%;
	height: 400px;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
	margin-top: -3px;
	margin-bottom: -3px;*/
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 2em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {

	  font-size: 28px;
  line-height: 32px;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
	color: #fff;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 60%;
	padding: 10px 20px 0;
}

/* Individual effects */


/*---------------*/
/***** Oscar *****/
/*---------------*/

figure.effect-oscar {
	background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
	background: linear-gradient(45deg, #22682a 0%,#9b4a1b 40%,#3a342a 100%);
}

figure.effect-oscar img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-oscar figcaption {
	padding: 0.5em;
	background-color: rgba(58,52,42,0.7);
	-webkit-transition: background-color 0.35s;
	transition: background-color 0.35s;
}
/*
figure.effect-oscar figcaption::before {
	position: absolute;
	top: 20px;
	right: 20px;
	bottom: 20px;
	left: 20px;
	border: 1px solid #fff;
	content: '';
}*/

figure.effect-oscar h2 {
	/*margin: 10% 0 10px 0;*/
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,45%,0);
	transform: translate3d(0,45%,0);
}

figure.effect-oscar h2::after{
	  margin: 10px auto;

}

figure.effect-oscar figcaption::before,
figure.effect-oscar p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0);
	transform: scale(0);
}

figure.effect-oscar:hover h2 {
	-webkit-transform: translate3d(0,10%,0);
	transform: translate3d(0,10%,0);
}

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-oscar:hover figcaption {
	background-color: rgba(58,52,42,0);
}

figure.effect-oscar:hover img {
	opacity: 0.4;
}

@media screen and (max-width: 1024px) {
	.grid div {
		width: 45%;
		
	}	

	figure.effect-oscar figcaption::before{
		display: none;
	}

	.grid div figcaption {
		font-size: 90%;
	}

	figure.effect-oscar:hover h2 {
	-webkit-transform: translate3d(0,45%,0);
	transform: translate3d(0,45%,0);
}

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
	opacity: 0;
	-webkit-transform: scale(1);
	transform: scale(1);
}
}


@media screen and (max-width: 650px) {


	.grid div {
		width: 40%;
		margin: 10px;
		height: 170px;
	}

	.grid figure h2 {
		  font-size: 18px;
		  line-height: 25px;
		  font-weight: 300;
		}


	

	figure.effect-oscar figcaption{
		padding: 0;
	}

	figure.effect-oscar figcaption::before{
		display: none;
	}
}