/* 320px (iPhone) */
@media screen and (max-width:320px) {
}

/* 480px (WVGA - Low End Windows Phone) */
@media screen and (max-width:480px) {

	/*GENERAL*/
	.wp4, .wp5, .light-box { margin-bottom: 30px; }
	.legals { text-align: center; margin: 0; padding: 0; }
	.credit { text-align: center; }
	.res-space{
		margin-top: 20px;
	}
	.wrap-childmenu{
		width: 100%;
		right: 0px;
	}

	/* HERO HOME */
	.hero h1 {
		font-size: 3em;
		margin: 20px 0 20px 0;
	}

	.hero {
		/*min-height: 300px;*/
	}

	/*FORM ORDER */
	/*.btn-group .btn.btn-default {
		margin: 2px !important;
		border-radius: 6px !important;
	}
*/
	/*CHOOSE*/

	.fancybox-nav span {
    width: 30px;
    height: 30px;
    visibility: visible;
    top:90%;
	}
	.fancybox-close {
	    position: absolute;
	    top: 0px;
	    right: 0px;
	    width: 30px;
	    height: 30px;
	}
	.fancybox-close:before,
	.fancybox-prev span:before,
	.fancybox-next span:before {
		font-size: 20px;
		line-height: inherit;
	}

	/*STEP */
	.wizard > .steps ul>li.current:before, .wizard > .steps ul>li.done:before{
		width: 28px;
		height: 28px;
	}

	.wizard > .steps > ul > .disabled:before, .wizard > .steps > ul > .done:before{
		width: 20px;
		height: 20px;
	}

	.wizard > .steps > ul > .disabled:after, .wizard > .steps > ul > .current:after, .wizard > .steps > ul > .done:after{
		top: 10px;
	}

	.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active{
		font-size: 0.55em;
	}

	.btn-group-fix .btn-group .btn.btn-default{
		width: 140px;
	}

	.detail-typecar {
		float: none;
		width: 100%;
	}

	.carneed-step {
		width: 50% !important;
	}

	.tooltip.tooltip-main.top.in {
	    margin-left: inherit;     
	}

	.cek-alasan label {
		width: inherit !important;
	}
	
}


/* xGA iPad */
@media screen and (max-width:1024px) {

	/*GENERAL*/
	.wp3 { background-position: 50px 0; }
	.swag { background-attachment: scroll; }
	.testimonial { background-attachment: scroll; }
	

	/*TOP MENU*/
	.wrap-menu{
		padding: 10px 0;
	}
	.logotop{
		/*width: 150px;*/
		height: 20px;
	}
	.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
		width: 30px;
		height: 3px;
	}
	.nav-toggle span:before {
	  top: -8px;
	}
	.nav-toggle span:after {
	  bottom: -8px;
	}

	.wrap-childmenu .pull-right{
		float: none !important;
	}

	/*WHY CHOOSE*/

	.fancybox-outer, .fancybox-inner{
		width: inherit !important;
		height: inherit !important;
	}
	.fancybox-nav span {
    width: 30px;
    height: 30px;
    visibility: visible;
    top:90%;
	}
	.fancybox-close {
	    position: absolute;
	    top: 0px;
	    right: 0px;
	    width: 30px;
	    height: 30px;
	}
	.fancybox-close:before,
	.fancybox-prev span:before,
	.fancybox-next span:before {
		font-size: 20px;
		line-height: inherit;
	}

	
	/*DATEPICKER CALENDAR*/

	/*.calmobile{
		display: block;
	}

	.caldesk{
		display: none;
	}

	
	.datepicker table tr td.day:hover,
	.datepicker table tr td.day.focused {
	  background: #3399FF;
	  cursor: pointer;
	  color: #fff;
	}*/

	div.strike-vertical {
		display: none;
	}

	.marketing p {
		margin-top: 0px;
	}

	.marketing h1{
		margin-bottom: 30px;
	}
}

@media screen and (max-width:1024px) and (orientation:portrait) {

	/*.datepicker.dropdown-menu {
		right: 30px;
	}

	.datepicker.dropdown-menu .datepicker-days table, 
	.datepicker.dropdown-menu .datepicker-months table, 
	.datepicker.dropdown-menu .datepicker-years table{
		width: 100%;
	}

	.datepicker.dropdown-menu table tr td, .datepicker.dropdown-menu table tr th{
		width: 1%;
	}*/

}

/* 1200px (Small Desktop, Netbook) */
@media screen and (max-width:1280px) {

	/*GENERAL*/
	.wp3 { background-position: 50px 0; }
}


/* Bootstrap 990px Breakpoint to 480px */
@media screen and (min-width:480px) and (max-width:991px) {

	/*GENERAL*/
	.wp2, .wp4, .wp5, .light-box { margin-bottom: 30px; }
	.legals { text-align: center; margin: 0; padding: 0; }
	.credit { text-align: center; }
}


/*@media screen and (min-width:1024px) {

	.tooltip.tooltip-main.top.in {
	    margin-left: -21px !important;     
	}

}*/