/* ! normalize.css v1.0.0 | MIT License | git.io/normalize */

/* ==========================================================================
HTML5 display definitions
========================================================================== */

/* * Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3. */

article, aside, details, figcaption, figure, footer, header, hglgroup, nav, section, summary {
    display: block;
}

/* * Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3. */
audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/* * Prevents modern browsers from displaying `audio` without controls.
* Remove excess height in iOS 5 devices. */
audio:not([controls]) {
    display: none;
    height: 0;
}

/* * Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3, * and Safari 4.
* Known issue:no IE 6 support. */
[hidden] {
    display: none;
}

/* ==========================================================================
Base
========================================================================== */
/* * 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
*    `em` units.
* 2. Prevents iOS text size adjust after orientation change, without disabling
*    user zoom. */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/* * Addresses `font-family` inconsistency between `textarea` and other form
* elements. */
html, button, input, select, textarea {
    /* font-family: 'Nunito', sans-serif;*/
}

/* * Addresses margins handled incorrectly in IE 6/7. */
body {
    margin: 0; /*font-family: 'Nunito', sans-serif;*/
    overflow-x: hidden;
    overflow-y: scroll !important;
}

/* ==========================================================================
Links
========================================================================== */
/* * Addresses `outline` inconsistency between Chrome and other browsers. */
a:focus {
    outline: none;
}

/* * Improves readability when focused and also mouse hovered in all browsers. */
a:active, a:hover {
    outline: 0;
}

/* ==========================================================================
Typography
========================================================================== */
/* * Addresses font sizes and margins set differently in IE 6/7.
* Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5, * and Chrome. */

@font-face {
    font-family: "Open Sans";
    src: url('../fonts/opensans/OpenSans-Regular.eot');
    src: url('../fonts/opensans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans/OpenSans-Regular.svg#Open Sans') format('svg'),
    url('../fonts/opensans/OpenSans-Regular.woff') format('woff'),
    url('../fonts/opensans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans Bold";
    src: url('../fonts/opensans/OpenSans-Bold.eot');
    src: url('../fonts/opensans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans/OpenSans-Bold.svg#Open Sans') format('svg'),
    url('../fonts/opensans/OpenSans-Bold.woff') format('woff'),
    url('../fonts/opensans/OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans Light";
    src: url('../fonts/opensans/OpenSans-light.eot');
    src: url('../fonts/opensans/OpenSans-light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans/OpenSans-light.svg#Open Sans') format('svg'),
    url('../fonts/opensans/OpenSans-light.woff') format('woff'),
    url('../fonts/opensans/OpenSans-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "budicon";
    src: url("../fonts/budicon/budicon.eot");
    src: url("../fonts/budicon/budicon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/budicon/budicon.woff") format("woff"),
    url("../fonts/budicon/budicon.ttf") format("truetype"),
    url("../fonts/budicon/budicon.svg#budicon") format("svg");
    font-weight: normal;
    font-style: normal;

}

h1 {
    font-size: 1.8em;
    margin: 0 0.67em 0;
    color: #353535;
}

h2 {
    font-size: 1.4em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
}

/* * Addresses styling not present in IE 7/8/9, Safari 5, and Chrome. */
abbr[title] {
    border-bottom: 1px dotted;
}

/* * Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome. */
b, strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

/* * Addresses styling not present in Safari 5 and Chrome. */
dfn {
    font-style: italic;
}

/* * Addresses styling not present in IE 6/7/8/9. */
mark {
    background: #ff0;
    color: #000;
}

/* * Addresses margins set differently in IE 6/7. */
p, pre {
    margin: 1em 0;
}

/* * Corrects font family set oddly in IE 6, Safari 4/5, and Chrome. */
code, kbd, pre, samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

/* * Improves readability of pre-formatted text in all browsers. */
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* * Addresses CSS quotes not supported in IE 6/7. */
q {
    quotes: none;
}

/* * Addresses `quotes` property not supported in Safari 4. */
q:before, q:after {
    content: '';
    content: none;
}

small {
    font-size: 75%;
}

/* * Prevents `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

.clear {
    clear: both;
}

/* ==========================================================================
Lists
========================================================================== */
/* * Addresses margins set differently in IE 6/7. */

/* ==========================================================================
Embedded content
========================================================================== */
/* * 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
* 2. Improves image quality when scaled in IE 7. */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/* * Corrects overflow displayed oddly in IE 9. */
svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
Figures
========================================================================== */
/* * Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11. */

figure {
    margin: 0;
}

/* ==========================================================================
Forms
========================================================================== */
/* * Corrects margin displayed oddly in IE 6/7. */

form {
    margin: 0;
}

/* * Define consistent border, margin, and padding. */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/* * 1. Corrects color not being inherited in IE 6/7/4/9.
* 2. Corrects text not wrapping in Firefox 3.
* 3. Corrects alignment displayed oddly in IE 6/7. */
legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/* * 1. Corrects font size not being inherited in all browsers.
* 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5, *    and Chrome.
* 3. Improves appearance and consistency in all browsers. */
button, input, select, textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/* * Addresses Firefox 3+ setting `line-height` on `input` using ` !important` in
* the UA stylesheet. */
button, input {
    line-height: normal;
}

/* * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
*    and `video` controls.
* 2. Corrects inability to style clickable `input` types in iOS.
* 3. Improves usability and consistency of cursor style between image-type
*    `input` and others.
* 4. Removes inner spacing in IE 7 without affecting normal text inputs.
*    Known issue:inner spacing remains in IE 6. */
button, html input[type="button"], /* 1 */
input[type="reset"], input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible; /* 4 */
}

/* * Re-set default cursor for disabled elements. */
button[disabled], input[disabled] {
    cursor: default;
}

/* * 1. Addresses box sizing set to content-box in IE 8/9.
* 2. Removes excess padding in IE 8/9.
* 3. Removes excess padding in IE 7.
*    Known issue:excess padding remains in IE 6. */
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/* * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
* 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
*    (include `-moz` to future-proof). */
input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/* * Removes inner padding and search cancel button in Safari 5 and Chrome
* on OS X. */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/* * Removes inner padding and border in Firefox 3+. */
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* * 1. Removes default vertical scrollbar in IE 6/7/4/9.
* 2. Improves readability and alignment in all browsers. */
textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
Tables
========================================================================== */
/* * Remove most spacing between table cells. */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ==========================================================================
Global Styles
========================================================================== */
a {
    color: #353535;
    /*    -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;*/
}

a:hover, a:focus {
    color: #FA6E14;
    text-decoration: none;
}

p {
    color: #101010;
    word-spacing: 1px;
    line-height: 1.5em;
    font-size: 1.3em;
}

.dark-bg {
    background: #f3f5f8;
}

.light-bg {
    background-color: #f3f5fb;
}

.grey-bg {
    background: #333333
}

.green-bg {
    background: #97D644
}

.grey-gradation-bg {
  background: linear-gradient(to bottom, #6b6b6b, #333333);
}

.soft-bg {
    background: #eee;
}

.dark-grey-bg {
    background: #696969;
}

.orange-bg {
    background: #FA6E14;
}

.dark-box {
    background: #f3f5f8;
    -webkit-box-shadow: 0px 3px 0px 0px #f0f2f4;
    -moz-box-shadow: 0px 3px 0px 0px #f0f2f4;
    box-shadow: 0px 3px 0px 0px #f0f2f4;
}

.light-box {
    /*height: 260px; */
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 0px 0px #f0f2f4;
    -moz-box-shadow: 0px 3px 0px 0px #f0f2f4;
    box-shadow: 0px 3px 0px 0px #f0f2f4;
    padding: 20px 0;
}

.light-box:hover, .light-box:focus {
    -webkit-box-shadow: 0px 3px 0px 0px #FA6E14;
    -moz-box-shadow: 0px 3px 0px 0px #FA6E14;
    box-shadow: 0px 3px 0px 0px #FA6E14;
}

.box-hover {
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}

.box-hover:hover, .box-hover:focus {
    transform: translate(0, -15px);
    -webkit-transform: translate(0, -15px);
    -ms-transform: translate(0, -15px);
}

.wrapper {
    height: 650px;
}

.nopadding {
    padding: 0;
}

.inner {
    padding-top: 170px;
}

.dist {
    min-height: 30px;
}

.strike {
    margin: 10px 0;
    color: #fff;
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #676767;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

.divider {
    border-top: 1px solid #676767;
    width: 100%;
    margin: 10px 0;
}

.notif-hidden {
    display: none;
    color: #DA4453;
    padding-bottom: 10px;
}

.min-red {
    color: #DA4453;
    cursor: pointer;
}

.loader-gif {
    text-align: center;
    padding-top: 10px;
    display: none;
}

.btn-color:hover {
    color: #333333;
}

#offerForm .btn-group .form-control-feedback {
    top: 0;
    right: -30px;
}

.alasan-step .form-control-feedback {
    top: 0;
    right: -30px;
}

.big-field .form-control-feedback {
    top: 5px !important;
}

.calendar-field .form-control-feedback {
    /*right: 40px !important;*/
}

.car-ready .form-control-feedback, .car-ready-step .form-control-feedback {
    top: 0;
    right: 20px;
}

.car-ready2 .form-control-feedback {
    top: 0;
    right:60px;
}

.postpone-order .form-control-feedback {
    top: 0;
    right: 40px;
}

.car-year .form-control-feedback {
    top: 0;
    right: 60px;
}

.car-expired .form-control-feedback {
    right: 45px;
}

.cek-metodebayar .form-control-feedback, .cara-kirim .form-control-feedback {
    top: 0px;
    display: block;
    right: -30px;
}

.up-ktp-wrap .form-control-feedback{
    top: 45px !important;
}

.last-stepcheck .form-control-feedback{
    top: -5px;
}


.carneed-step .help-block {
    width: 220px;
}

.price {
    /*float: left;
    display: block;*/
    background-color: #FFF;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
}

.rupiah {
    color: #FA6E14;
    font-size: 2em;
}

.expired-date {
    color: #fff;
    padding: 5px 10px;
    background: #FA6E14;
}

.hidden-area {
    display: none;
}

.panel-green {
    background-color: #4AB726 !important;
    border-color: #4AB726 !important;
}

.panel-blue {
    background-color: #428EDC !important;
    border-color: #428EDC !important;
}

.panel-orange {
    background-color: #FA6E14 !important;
    border-color: #FA6E14 !important;
}

.button-blue {
    background-color: #428EDC !important;
    border-color: #428EDC !important;
}

.button-red {
    background-color: #da4453 !important;
    border-color: #da4453 !important;
}

.button-green {
    background-color: #3399FF !important;
    border-color: #3399FF !important;
}

.td-right {
    text-align: right;
}

/* ==========================================================================
Buttons
========================================================================== */
.use-btn {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    border-radius: 3px;
    background-color: #D94452;
    color: #fff;
    font-size: 1.4em;
}

.use-btn-light-blue-small {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    border-color: transparent;
    border-radius: 2px;  
    background-color: #3399FF;
    color: #fff; 
    font-size: 0.9em;
    transition: all 0.3s ease 0s;
    box-shadow: 1px 1px 1px #3300FF;
    cursor: pointer;
    cursor: hand;
}

.use-btn-light-blue-small:hover, .use-btn-light-blue-small:focus {
    background-color: #00CCFF;
    color: #fff;
    text-decoration: none;
    box-shadow: 1px 1px 1px #3399FF;
    cursor: pointer;
    cursor: hand;
}

.use-btn-light-blue-medium {
    display: inline-block;
    margin: 5px;
    padding: 7px 15px;
    border-color: transparent;
    border-radius: 2px;  
    background-color: #3399FF;
    color: #fff; 
    font-size: 1.1em;
    transition: all 0.3s ease 0s;
    box-shadow: 2px 2px 1px #3300FF;
    cursor: pointer;
    cursor: hand;
}
.use-btn-light-blue-medium:hover, .use-btn-light-blue-medium:focus {
    background-color: #00CCFF;
    color: #fff;
    text-decoration: none;
    box-shadow: 2px 2px 1px #3399FF;
    cursor: pointer;
    cursor: hand;
}

.use-btn-light-blue-large {
    white-space: normal;
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    border-color: transparent;
    border-radius: 3px;  
    background-color: #3399FF;
    color: #fff; 
    font-size: 1.4em;
    transition: all 0.3s ease 0s;
    box-shadow: 2px 2px 1px #3300FF;
    cursor: pointer;
    cursor: hand;
}
.use-btn-light-blue-large:hover, .use-btn-light-blue-large:focus {
    background-color: #00CCFF;
    color: #fff;
    text-decoration: none;
    box-shadow: 2px 2px 1px #3399FF;
    cursor: pointer;
    cursor: hand;
}

.use-btn-light-blue-extra-large {
    display: inline-block;
    margin: 15px;
    padding: 25px 45px;
    border-color: transparent;
    border-radius: 5px;  
    background-color: #3399FF;
    color: #fff; 
    font-size: 1.5em;
    transition: all 0.3s ease 0s;
    box-shadow: 3px 3px 2px #3300FF;
    cursor: pointer;
    cursor: hand;
}

.use-btn-light-blue-extra-large:hover, .use-btn-light-blue-extra-large:focus {
    background-color: #00CCFF;
    color: #fff;
    text-decoration: none;
    box-shadow: 3px 3px 2px #3399FF;
    cursor: pointer;
    cursor: hand;
}

.use-btn-orange-small {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    border-color: transparent;
    border-radius: 2px;  
    background-color: #FA6E14;
    color: #fff; 
    font-size: 0.9em;
    transition: all 0.3s ease 0s;
    box-shadow: 1px 1px 1px #D35603;
    cursor: pointer;
    cursor: hand;
}

.use-btn-orange-small:hover, .use-btn-orange-small:focus {
    background-color: #FC9652;
    color: #fff;
    text-decoration: none;
    box-shadow: 1px 1px 1px #FA6E14;
    cursor: pointer;
    cursor: hand;
}

.use-btn-orange-medium {
    display: inline-block;
    margin: 5px;
    padding: 7px 15px;
    border-color: transparent;
    border-radius: 2px;  
    background-color: #FA6E14;
    color: #fff; 
    font-size: 1.1em;
    transition: all 0.3s ease 0s;
    box-shadow: 2px 2px 1px #D35603;
    cursor: pointer;
    cursor: hand;
}

.use-btn-orange-medium:hover, .use-btn-orange-medium:focus {
    background-color: #FC9652;
    color: #fff;
    text-decoration: none;
    box-shadow: 2px 2px 1px #FA6E14;
    cursor: pointer;
    cursor: hand;
}

.use-btn-orange-large {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    border-color: transparent;
    border-radius: 3px;  
    background-color: #FA6E14;
    color: #fff; 
    font-size: 1.4em;
    transition: all 0.3s ease 0s;
    box-shadow: 2px 2px 1px #D35603;
    cursor: pointer;
    cursor: hand;
}

.use-btn-orange-large:hover, .use-btn-orange-large:focus {
    background-color: #FC9652;
    color: #fff;
    text-decoration: none;
    box-shadow: 2px 2px 1px #FA6E14;
    cursor: pointer;
    cursor: hand;
}

.use-btn-orange-extra-large {
    display: inline-block;
    margin: 15px;
    padding: 25px 45px;
    border-color: transparent;
    border-radius: 5px;  
    background-color: #FA6E14;
    color: #fff; 
    font-size: 1.5em;
    transition: all 0.3s ease 0s;
    box-shadow: 3px 3px 2px #D35603;
    cursor: pointer;
    cursor: hand;
}

.use-btn-orange-extra-large:hover, .use-btn-orange-extra-large:focus {
    background-color: #FC9652;
    color: #fff;
    text-decoration: none;
    box-shadow: 3px 3px 2px #FA6E14;
    cursor: pointer;
    cursor: hand;
}

.use-btn-grey-small {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    border-color: transparent;
    border-radius: 2px;  
    background-color: #A6A6A6;
    color: #fff; 
    font-size: 0.9em;
    transition: all 0.3s ease 0s;
    box-shadow: 1px 1px 1px #7F7F7F;
    cursor: pointer;
    cursor: hand;
}

.use-btn-grey-small:hover, .use-btn-grey-small:focus {
    background-color: #BFBFBF;
    color: #fff;
    text-decoration: none;
    box-shadow: 1px 1px 1px #A6A6A6;
    cursor: pointer;
    cursor: hand;
}

.use-btn-grey-medium {
    display: inline-block;
    margin: 5px;
    padding: 7px 15px;
    border-color: transparent;
    border-radius: 2px;  
    background-color: #A6A6A6;
    color: #fff; 
    font-size: 1.1em;
    transition: all 0.3s ease 0s;
    box-shadow: 2px 2px 1px #7F7F7F;
    cursor: pointer;
    cursor: hand;
}

.use-btn-grey-medium:hover, .use-btn-grey-medium:focus {
    background-color: #BFBFBF;
    color: #fff;
    text-decoration: none;
    box-shadow: 2px 2px 1px #A6A6A6;
    cursor: pointer;
    cursor: hand;
}

.use-btn-grey-large {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    border-color: transparent;
    border-radius: 3px;  
    background-color: #A6A6A6;
    color: #fff; 
    font-size: 1.4em;
    transition: all 0.3s ease 0s;
    box-shadow: 2px 2px 1px #7F7F7F;
    cursor: pointer;
    cursor: hand;
}

.use-btn-grey-large:hover, .use-btn-grey-large:focus {
    background-color: #BFBFBF;
    color: #fff;
    text-decoration: none;
    box-shadow: 2px 2px 1px #A6A6A6;
    cursor: pointer;
    cursor: hand;
}

.use-btn-grey-extra-large {
    display: inline-block;
    margin: 15px;
    padding: 25px 45px;
    border-color: transparent;
    border-radius: 5px;  
    background-color: #A6A6A6;
    color: #fff; 
    font-size: 1.5em;
    transition: all 0.3s ease 0s;
    box-shadow: 3px 3px 2px #7F7F7F;
    cursor: pointer;
    cursor: hand;
}

.use-btn-grey-extra-large:hover, .use-btn-grey-extra-large:focus {
    background-color: #BFBFBF;
    color: #fff;
    text-decoration: none;
    box-shadow: 3px 3px 2px #A6A6A6;
    cursor: pointer;
    cursor: hand;
}

.use-btn-disabled-small {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    border-color: #BFBFBF;
    border-radius: 2px;  
    background-color: transparent;
    color: #101010; 
    font-size: 0.9em;
}

.use-btn-disabled-medium {
    display: inline-block;
    margin: 5px;
    padding: 7px 15px;
    border-color: #BFBFBF;
    border-radius: 2px;
    background-color: transparent;
    color: #101010; 
    font-size: 1.1em;
}

.use-btn-disabled-large {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    border-color: #BFBFBF;
    border-radius: 3px;  
    background-color: transparent;
    color: #101010; 
    font-size: 1.4em;
}

.use-btn-disabled-extra-large {
    display: inline-block;
    margin: 15px;
    padding: 25px 45px;
    border-color: #BFBFBF;
    border-radius: 5px;  
    background-color: transparent;
    color: #101010; 
    font-size: 1.5em;
}

.btn-danger {
    background-color: #DA4453 !important;
    border-color: #DA4453 !important;
    color: #fff !important;
}

.btn-danger:hover {
    background-color: #FF4453 !important;
    border-color: #FF4453 !important;
}

.use-btn:hover, .use-btn:focus {
    background-color: #E1646E;
    color: #fff;
    text-decoration: none;
}

.learn-btn, .download-btn {
    display: inline-block;
    padding: 18px 46px;
    border: 2px solid #fff;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
}

.learn-btn:hover, .download-btn:hover, .learn-btn:focus, .download-btn:focus {
    border-color: #FA6E14;
    color: #FA6E14;
    text-decoration: none;
}

.read-more-btn {
    display: inline-block;
    color: #333;
    text-transform: uppercase;
    font-weight: 400;
}

.read-more-btn i, .download-btn i {
    margin-left: 5px
}

.showcase .download-btn {
    margin-top: 50px
}

.download .download-btn {
    margin-top: 25px
}

/* ==========================================================================
Navigation
========================================================================== */
.wrap-menu {
    position: absolute;
    /*top: 0;*/
    background: linear-gradient(to bottom, #eee, #d9d9d9);
    padding: 0.5em;
    width: 100%;
    z-index: 99;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    display: inline-block;
}

.closemenu:before {

    cursor: pointer;
    font-family: "budicon";
    content: "\e03d";
    font-size: 1.1em;
    line-height: 55px;
    color: #FFF;
    font-weight: 800;
    position: absolute;
    right: 0px;
    padding: 0px 20px 5px;
    /*background-color: #000;*/
}

.nav-toggle {
    position: absolute;
    top: 0;
    right: 15px;
    /*z-index: 999999;*/
    padding: 15px 35px 15px 0px;
    cursor: pointer;
}

.nav-toggle:focus {
    outline: none;
}

.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
    content: '';
    position: absolute;
    display: block;
    width: 31px;
    height: 4px;
    border-radius: 1px;
    background: #FA6E14;
    cursor: pointer;
}

.nav-toggle span:before {
    top: -9px
}

.nav-toggle span:after {
    bottom: -9px
}

.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.nav-toggle.active span {
    background-color: transparent
}

.nav-toggle.active span:before, .nav-toggle.active span:after {
    top: 0
}

.nav-toggle.active span:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-toggle.active span:after {
    top: 10px;
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
}

.navicon {
    position: relative;
    height: 26px;
}

.navicon p {
    margin: 1px 50px 0 0;
    color: #fff;
}

.navicon-fixed {
    position: fixed;
    top: 59px;
    right: 143px;
}

.wrap-childmenu {
    /*position: absolute;
    z-index: 9999;
    width: 100%;
    top: 47px;*/
    right: 115px;
    position: absolute;
    z-index: 9999;
    width: 275px;
    top: 47px;
    display: none;
}

#closeMenu{
    display: none;
}

.wrap-list-childmenu {
    z-index: 99;
    position: relative;
    background-color: rgba(0, 0, 0, 0.84);
    padding: 20px;
}

.title-login {
    color: #fff;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

.target-name {
    color: #fff;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

.afterlogin-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.afterlogin-menu a {
    color: #fff;
    display: block;
    padding: 5px;
}

.afterlogin-menu a:hover {
    background-color: #D35603 !important;
}

.logotop {
    height: 35px;
}

.afterlogin-menu-header {
    padding: auto;
    font-weight: bold;
}

.afterlogin-menu-content a {
    padding: auto;
    font-size: 1em;
    background-color: #FA6E14;
    color: #fff;
}

/* ==========================================================================
Hero
========================================================================== */
.hero {
    position: relative;
    padding: 60px 0 60px 0;
    min-height: 450px;
    background: url('../images/hero/hero-5.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
}

.hero h1 {
    margin: 100px 0 20px 0;
    font-size: 4em;
    color: #fff;
    line-height: 1.5em;
    display: inline-block;
    color: #fff;
    text-shadow: 0 0 15px #666666;
}

.hero h3 {
    margin: 0px 0 45px 0;
    font-weight: 400;
    font-size: 2.2em;
    color: #FFF;
    line-height: 1.5em;
    text-shadow: 0 0 5px #000000;
}

#home {
    width: 70%;
    height: 70%;
}

.hero {
    width: 100%;
    height: 100%;
}

header i {
    margin-left: 5px
}

.hero-content {
    text-align: center;
}

.learn-more-btn {
    background: #F28738;
    padding: 20px 40px;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    -webkit-box-shadow: 0px 3px 0px 0px #FA6E14;
    -moz-box-shadow: 0px 3px 0px 0px #FA6E14;
    box-shadow: 0px 3px 0px 0px #FA6E14;
    margin: 30px 0;
    font-weight: bold;
}

.learn-more-btn:hover, .learn-more-btn:focus {
    background: rgba(248, 105, 0, 0.7);
    color: #fff;
}

.flexslider {
    background-color: transparent;
    border: none;
    margin: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0px;
    -webkit-box-shadow: 0px;
}

.caption-slider {
    position: absolute;
    z-index: 999;
    width: inherit;
}

.texture-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
}


/* ==========================================================================
Metric
========================================================================== */

.metric {
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 25px 0 20px 0;
    color: #eee;
    background-color: #eee;
}

.metric h1 {
    color: #F86900;
    margin: 0.35em 0 0.1em 0;
    font-size: 2.3em;
}

.metric p {
    font-size: 1.2em;
    margin: 0.3em
}


/* ==========================================================================
How It Works
========================================================================== */
.how-work {
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0 0 20px;
    color: #eee;
    background-color: #eee;
}

.how-work .img-circle {
    border: 2px solid #FFF;
    width: 70px;
    height: 70px;
    margin: 15px auto;
    text-align: center;
    background-color: #FA6E14;
}

.how-work .img-circle strong {
    font-size: 2.5em;
    line-height: 1.9em;
    color: #FFF;
}

.how-work p.header {
    color: #454545;
    font-family: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 1.8em;
    font-weight: bold;
    margin: 0 auto 10px auto;
}

.how-work p {
    color: #454545;
    font-family: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 1.1em;
    margin: 0 auto 10px auto;
    padding: 0 30px;
}


/* ==========================================================================
Promo
========================================================================== */
.promo {
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 20px 0;
    color: #fff;
    background-color: #FA6E14;
}

.promo h1 {
    color: #fff;
    font-family: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 4em;
    font-weight: bold;
}

.promo p {
    color: #fff;
    font-family: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 0;
    padding-left: 0;
}

.promo ul {
    color: #fff;
    font-family: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 1.3em;
    line-height: 1.5em;
    margin-bottom: 0;
    padding-left: 30px;
}

.promo li:before {
    padding-right: 10px;
    content: "\f00c";
    display: inline-block;
    font: normal normal normal 1.2em/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: -26px
}


/* ==========================================================================
What Is Mulmut.com
========================================================================== */

.what-is {
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 30px 0;
    color: #222;
    background-color: #333;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
}

.what-is h1 {
    color: #222;
    margin-bottom: 40px;
}

.what-is p.header {
    color: #eee;
    font-family: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0 auto;
}

.what-is p {
    color: #eee;
    font-family: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 1.2em;
    margin: 0 auto 25px auto;
    padding: 0 30px;
}

.what-is ol {
    margin-bottom: 25px;
}

.what-is li {
    color: #eee;
    font-family: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 1.2em;
    margin-left: 10px;
    padding: 2px 10px 3px 10px;
}

.big_font {
    font-size: 35px;
    color: #454545;
    letter-spacing: 1px;
    padding-bottom: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}


/* ==========================================================================
Ready To Buy
========================================================================== */
.ready-bottom {
    background: url('../images/hero/hero-6.jpg') no-repeat center center;
    background-size: cover;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
}

.ready-bottom h1 {
    margin: 0 0 30px 0;
    color: #fff;
    text-shadow: 0 0 15px #000000;
}
 
/* ==========================================================================
Features / Why Choose
========================================================================== */
.features-wrapper {
    margin: 0px 0 0;
}

.title-cap {
    font-size: 1.3em;
    color: #FFF;
    text-transform: uppercase;
    margin-bottom: 40px;
}

/* ==========================================================================
Fancybox
========================================================================== */

#show-container-choosen {
    overflow: hidden;
}

#fancybox-thumbs ul li img {
    max-width: none
}

.fancybox-title {
    font: inherit
}

.fancybox-nav {
    position: absolute;
    top: 50%;
    margin-top: -62px;
    width: 45px;
    height: 80px;
}

.fancybox-prev span {
    left: 0px
}

.fancybox-next span {
    right: 0px
}

.fancybox-nav span {
    width: 45px;
    height: 80px;
    visibility: visible;
}

.fancybox-close {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 55px;
    height: 55px;
}

.fancybox-close:before,
.fancybox-prev span:before,
.fancybox-next span:before {
    font-family: 'budicon';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-size: 25px;
    vertical-align: middle;
    line-height: 80px;
}

.fancybox-close:before {
    font-size: 20px;
    line-height: 55px;
}

/*.fancybox-close{
    right: -60px;
}*/
.fancybox-close,
.fancybox-prev span,
.fancybox-next span {
    background: rgba(0, 0, 0, 0.3);
    color: #f7f7f7;
    text-align: center;
    transition: all 200ms ease-in;
}

.fancybox-close:hover,
.fancybox-prev span:hover,
.fancybox-next span:hover {
    background: rgba(0, 0, 0, 0.7);
    color: #f7f7f7;
}

.fancybox-prev span:before {
    content: '\e00c';
    margin-left: -5px;
}

.fancybox-next span:before {
    content: '\e010';
    margin-right: -5px;
}

.fancybox-close:before {
    content: "\e03d"
}

#fancybox-loading {
    margin-top: -20px;
    margin-left: -20px;
    opacity: 1;
}

#fancybox-loading div {
    height: 40px;
    width: 40px;
    position: relative;
    -webkit-animation: rotation .8s infinite linear;
    -moz-animation: rotation .8s infinite linear;
    -o-animation: rotation .8s infinite linear;
    animation: rotation .8s infinite linear;
    border-left: 3px solid rgba(74, 162, 209, .15);
    border-right: 3px solid rgba(74, 162, 209, .15);
    border-bottom: 3px solid rgba(74, 162, 209, .15);
    border-top: 3px solid rgba(74, 162, 209, .8);
    border-radius: 100%;
}

.fancybox-overlay {
    background: rgba(30, 30, 31, 0.95)
}

#fancybox-thumbs.bottom {
    bottom: 10px
}

#fancybox-thumbs ul li {
    padding: 5px
}

#fancybox-thumbs ul li.active {
    border: none;
    opacity: 1;
    padding: 5px;
}

#fancybox-thumbs ul li a {
    border: 1px solid rgba(0, 0, 0, 0.3)
}

#fancybox-thumbs ul li a:before {
    pointer-events: none;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-shadow: inset 0 0 1px 0 rgba(255, 255, 255, 0.3);
}

#fancybox-thumbs ul li.active a:before {
    box-shadow: inset 0 0 1px 0 rgba(255, 255, 255, 1)
}

.fancybox-opened .fancybox-skin {
    box-shadow: none
}

.fancybox-skin {
    background: none;
    color: #fff;
    border-radius: 0;
}

.fancybox-skin h3 {
    color: #ececec
}

.fancybox-title-inside-wrap {
    font-size: 1.3em;
    padding-top: 20px;
}

/* ==========================================================================
Carousel Testimony Photo
========================================================================== */
.testimony-photo {
    /*border-bottom: 1px solid #222;*/
}

.testimony-photo p.testimony-photo-text {
    font-size: 1.2em;
    color: #fff;
    text-shadow: none;
    background-color: #FA6E14;
    padding: 0 10px;
}

.testimony-photo p.testimony-photo-text b {
    font-size: 1.2em;
}

/* ==========================================================================
Order Form
========================================================================== */

.order {
    background-color: #fff;
    /*padding-bottom: 0px;*/
    border-bottom: 1px solid #DDD;
}

.order .title-step {
    font-size: 1.1em;
}


.btn-lg, .input-lg {
    font-size: 1.1em;
    height: inherit !important;
}

.form-group {
    margin-bottom: 15px;
}

.order p {
    /*font-size: 1.3em;
    line-height: 1.5em;*/
}

.order select, .order input {
    /*    -webkit-appearance: none;
        -moz-appearance: none;*/
}

.order input:focus, .order select:focus, .order textarea:focus {
}

.order .input-calendar {
    border-color: #AAB2BD !important;
    cursor: pointer !important;
    background-color: #FFF;
}

.order .order-form {
    margin: 40px 0;
}

.btn-group-fix .btn-group .btn.btn-default {
    margin: 5px;
    background-color: #fff;
    color : #101010;
    border-radius: 4px !important;
    width: 170px;
    float: none;
    border: solid;
    border-width: 1px;
}

.btn-group-fix .btn-group .btn.btn-default:hover {
    background-color: #3399FF;
    color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-group .btn.btn-default.active {
    background-color: #3399FF;
    color: #fff;
    border-color: #3399FF !important;
}

.radio-driver label {
    width: 50%;
}

.radio-cars label {
    width: 20%;
}

.radio-cars .btn {
    padding: 6px 0px;
}

#showdate {
    font-size: 18px !important;
}

#timeslider {
    font-size: 18px !important;
}

.wrap-timeslider .panel-body {
    padding-top: 40px;
}


.order .divider {
    border-top: 1px solid #999;
    width: 100%;
    margin: 15px 0;
}

.order .carprice {
    font-size: 1.7em;
    font-weight: 800;
    margin: 15px 0;
    color: #101010;
}

.order .btn-group {
    width: 100%;
    text-align: center;
}

.order .exmerk {
    font-size: 1.1em;
    font-weight: 100;
    font-style: italic;
}

.order .showcarent img {
    max-width: 100%;
}

/*.order .tooltip-inner {
    white-space:pre-wrap;
}*/

.calmobile {
    display: none;
}

.datepicker.dropdown-menu .datepicker-days table,
.datepicker.dropdown-menu .datepicker-months table,
.datepicker.dropdown-menu .datepicker-years table {
    width: 220px;
}

.datepicker.dropdown-menu table tr td, .datepicker.dropdown-menu table tr th {
    width: 30px;
    height: 30px;
}

select {
    /*-webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: "";
    background-image: url('../images/arr2.jpg') !important;*/
    background-repeat: no-repeat;
    background-position: right center;
    background-color: white;
    cursor: pointer;
}

/* Firefox select button fix */
@-moz-document url-prefix() {
    select, .select2-container {
        background: #fff url("../images/arr2.jpg") no-repeat scroll right !important;
    }
}

select::-ms-expand {
    display: none;
}

.form-control, .form-control:focus {
    border-color: #AAB2BD;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* ==========================================================================
Steps Order
========================================================================== */

.mb-125{
    margin-bottom: 125px;
}

.mb-30{
    margin-bottom: 30px;
}
.mt-30{
    margin-top: 30px;
}
.has-success #agree-conf {
    background-color: #8CC152;
    color: #fff;
}
.has-error #agree-conf {
    background-color: #DA4453;
    color: #fff;
}
.block-content-notif {
    text-align: center;
    min-height: 30px;
}

.block-content-notif p {
    font-size: 1.3em;
    text-align: center;
    color: #999;
    margin: 0px;
    padding: 0px;
}

.car-title-content {
    text-align: center;
    min-height: 30px;
}

.car-title-content p {
    font-size: 1.6em;
    text-align: center;
    font-weight: bold;
    color: #000;
    margin: 0px;
    padding: 0px;
}

.step-title-content {
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
    color: #454545;
    margin-bottom: 25px;
}

.wrap-login-confirm {
    margin-top: 20px;
}

div.strike-vertical {
    margin: 0 auto;
    padding: 130px 0;
    width: 50px;
    text-align: center;
    position: relative;
}

.strike-vertical p {
    position: relative;
    padding: 10px 0;
    z-index: 99;
    background: #FFF;
}

.strike-vertical:after {
    position: absolute;
    content: "";
    left: 50%;
    top: 0;
    height: 100%;
    width: 0;
    border-right: 1px #999 solid;
}

div.strike-horizontal {
    margin: 15px 0;
    padding: 0 40%;
    height: 30px;
    text-align: center;
    position: relative;
}

.strike-horizontal p {
    position: relative;
    padding: 0;
    z-index: 99;
    background: #f9f9f9;
    margin: 0;
}

.strike-horizontal:after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    border-top: 1px #999 solid;
}

.wrap-login-confirm em {
    color: #999;
    font-size: 0.9em;
}

.btn-login-confirm {
    /*margin-top: 73px;*/
}

.wrap-register {
    display: none;
}

.wrap-reset {
    display: none;
}

#goLogin {
    color: #FA6E14;
    font-size: 0.9em;
    cursor: pointer;
}

#goLogin:hover {
    text-decoration: underline;
}

#goReset {
    color: #F46900;
    font-size: 0.9em;
    cursor: pointer;
}

#goReset:hover {
    text-decoration: underline;
}

.text-confirm {
    color: #666;
    font-size: 1.1em;
}

.wrap-text p {
    color: #666;
    font-size: 1.1em;
    margin-top: 0;
}

.metode-bayar .btn.btn-default {
    width: 50%;
}

.carstock {
    width: 100%;
}

.carstock .btn.btn-default {
    /*width: 50%;*/
}

.cara-kirim .btn.btn-default {
    width: 50%;
}

.up-ktp {
    padding: 5px 0px;
    width: 100%;
    border: 0px !important;
    border-radius: 4px;
}

.table-hover tbody tr:hover {
    color: #fff;
    cursor: pointer;
}

#tabel-tipemobil tr.selected {
    background-color: #298D75;
    color: #fff;
}

.box-pcolor {
    border: 1px solid #BBB;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    -webkit-box-shadow: inset 6px 6px 20px -7px rgba(255, 255, 255, 0.7);
    -moz-box-shadow: inset 6px 6px 20px -7px rgba(255, 255, 255, 0.7);
    box-shadow: inset 6px 6px 20px -7px rgba(255, 255, 255, 0.7);
}

.box-pcolor-offer {
    border: 1px solid #BBB;
    width: 30px;
    height: 30px;
    -webkit-box-shadow: inset 6px 6px 20px -7px rgba(255, 255, 255, 0.7);
    -moz-box-shadow: inset 6px 6px 20px -7px rgba(255, 255, 255, 0.7);
    box-shadow: inset 6px 6px 20px -7px rgba(255, 255, 255, 0.7);
}

#table-color-choosen td {
    vertical-align: middle;
}

.table.table-hover th {
    color: #fff;
    background-color: #8A9EFF;
}

.item-typecar {
    margin-top: 10px;
}

.item-typecar label {
    width: 100px;
}

.pick-button-typecar {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: #FA6E14;
}

.pick-button-typecar span {
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
}

.text-black{
    color: #000 !important;
}

.cek-alasan label {
    width:50%;
}

.change-car-wrapper {
    margin-bottom: 20px;
}

.change-car-wrapper li {
    color: #666;
    font-size: 1.1em;
}

div.order-car-price {
    text-align: right;
    padding-bottom: 10px;
}

span.order-car-price {
    text-align: right;
    font-weight: bold;
    font-size: 1.5em;
    color: #999;
    text-decoration: line-through;
}

span.order-car-explain {
    text-align: right;
    font-size: 14px;
    font-style: normal;
    color: #FA6E14;
    line-height: 0;
    font-weight: normal;
}


/* ==========================================================================
Marketing
========================================================================== */

.marketing {
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 30px 0 10px;
    color: #FFF;
    background-color: #111111;
}

.marketing h1, .marketing p {
    color: #f3f5f8;
    font-family: Helvetica, Arial, sans-serif !important;
}

.marketing h1 {
    font-size: 4em;
    margin: 0;
}

.marketing p {
    margin: 20px 0 5px 0;
    font-size: 2em;
    font-weight: 700;
}

.marketing p span {
    line-height: 1.5em;
    font-size: 2em;
    text-transform: uppercase;
}

.marketing img {
    width: 600px;
    max-width: 100%;
}


/* ==========================================================================
Social
========================================================================== */

ul.social-buttons {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
}

ul.social-buttons li {
    text-align:center;
}
/**
 * ul.social-buttons li {
 *     display: inline-block;
 *     margin-right: 0px;
 * }

 * ul.social-buttons li:last-child {
 *     margin-right: 0;
 * }
 */

.social-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    background: #FA6E14;
    display: inline-block;
    color: #fff;
    font-size: 17px;
    line-height: 40px;
    text-align: center;
    transition: all 0.3s ease 0s;
}

.social-btn:hover, .social-btn:focus {
    background: #FC9652;
    color: #fff;
}

.social {
    margin-top: 25px
}

/* ==========================================================================
Contact
========================================================================== */
.up-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    background: rgba(248, 105, 0, 0.5);
    display: block;
    margin: 0 auto;
    color: #fff;
    font-size: 0.5em;
    line-height: 46px;
    text-align: center;
    position: absolute;
    top: -26px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.up-btn:hover, up-btn:focus {
    color: #fff;
    background: rgba(248, 105, 0, 1);
}

.contact-details {
    margin: 0px 0;
    text-align: center;
}

.contact-details h2 {
    font-size: 0.5em;
}

.contact-details h2 i {
    font-size: 0.5em;
}

.contact-details h2 span {
    display: block;
    color: #FA6E14;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.3em;
    margin-top: 15px;
}

#map {
    height: 400px;
}

/* ==========================================================================
User Secure
========================================================================== */

.user-secure {
    padding-top: 90px;
}

.user-secure .panel {
    margin-bottom: 30px;
}

.user-secure .panel-title {
    font-size: 1.1em;
}

.user-secure .panel-body p {
    margin: 0px;
}

.user-secure .panel-body h2 {
    text-transform: none;
    margin: 10px 0;
}

.user-secure .panel-body h2:after {
    display: none !important;
}

.user-secure .panel-body p.meta {
    font-size: 1.1em;
    color: #999;
}

.text-grey {
    color: #999 !important;
}

.thumb-sales {
    width: 70px;
    height: 70px;
}

.star-rating {
    margin-top: 5px;
}

.star-rating span {
    color: #FA6E14;
}

.user-secure .strike {
    text-transform: uppercase;
    color: #3399FF;
    font-weight: bold;
    font-size: 1.3em;
}

.user-secure .strike span:before, .user-secure .strike span:after {
    background: #cecece;
}

.wrap-detail-giveoffer label {
    width: 250px;
}

.wrap-detail-giveoffer p {
    font-size: 1.1em;
}

.list-bonus, .list-bonus-user {
    padding-left: 0px;
    list-style: none;
    margin-bottom: 20px !important;
}

.list-bonus-user li:before {
    padding-right: 5px;
    content: "\f00c";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: -20px
    /*  display: none;*/
}

.list-bonus li, .list-bonus-user li {
    padding-left: 20px !important;
    padding-bottom: 2px;
}

.list-bonus li .col-md-1 {
    padding-right: 0;
}

.list-bonus li .col-md-11 {
    padding-left: 0;
}

.list-bonus li span {
    font-size: 16px;
    cursor: pointer;
    color: #ccc;
}

.list-bonus li span:hover {
    color: #FF4453;
}

.number-lg {
    width: 50px;
    border-radius: 50%;
    color: #FA6E14;
    background-color: #DCDCDC;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}

.child-offershow {
    background-color: #f9f9f9;
    /*display: none;*/
    /*visibility: hidden;*/
}

.child-offershow table.table {
    background-color: transparent;
    margin-bottom: 0px;
}

.child-offershow table td,
.child-offershow table th {
    border: none !important;
}

#whenready {
    display: none;
}

.modal-open{
    overflow: visible !important;
}


.after-sent-offer p{
    font-size: 0.9em;
    padding: 0px;
}

.form-search .search-query, .form-search .search-query:first-child, .form-search .search-query:last-child{
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
}

.form-search .btn{
    border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
}
/* ==========================================================================
About
========================================================================== */
#accordion{
    margin-top: 30px;
}
#accordion .panel-heading {
    background: transparent !important;
}

#accordion .panel{
    background: #fff !important;
    margin: 15px 0;
    border-radius: 3px;
}

#accordion .panel a{
    font-size: 1.1em;
    padding: 15px;
}
#accordion .panel-body{
    font-size: 1.1em;
    line-height: 1.5em;
    padding: 0 15px 15px;
}

/* ==========================================================================
Admin
========================================================================== */

.admin-table tbody tr:hover td{
    background-color: #999;
}

.finance-table tbody tr, .finance-table thead tr {
    line-height: 200%;
    word-wrap: break-word;
    padding: 5px;
}

.finance-table .finance-border {
    border-bottom: 1px solid black;
    text-align: center;
}

/* ==========================================================================
Footer
========================================================================== */

footer a {
    color: #a1a9b0;
}

footer {
    background-color: #252525; /* padding: 40px 0 30px;*/
}

footer p {
    color: #fff;
}

.footer-top-content {
    padding-top: 25px;
    padding-bottom: 15px;
}

.footer-legals {
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.footer-border {
    border-top:solid 1px #444;
}

ul.list-static-page {
    list-style: none;
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
}

ul.list-static-page li {
    text-align: center;
}
/**
 * ul.list-static-page li {
 *     display: inline-block;
 *     margin-right: 0px;
 * }

 * ul.list-static-page li:last-child {
 *     margin-right: 0;
 * }
 */

.list-static-page a {
    padding-right: 0px;
    color: #fff;
}

.list-static-page a:hover {
    text-decoration: underline;
}


ul.list-contact {
    list-style: none;
    margin: -10px 0 0px 0;
    padding: 0;
    color: #fff;
}

ul.list-contact li {
    display: inline-block;
    margin-right: 0px;
    color: #fff;
}

ul.list-contact li a {
    color: #fff;
}

ul.list-contact li:last-child {
    margin-right: 0;
}

ul.list-contact a:hover {
    text-decoration: underline;
}

/* ==========================================================================
FlexSlider Custom CSS
========================================================================== */
ul.slides li {
    margin-bottom: 20px;
}

.flexslider ul.slides li {
    margin-bottom: 0px;
}

/* ==========================================================================
Waypoints
========================================================================== */
.wp1, .wp2, .wp3, .wp4, .wp5, .wp6 {
    visibility: hidden;
}

.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight {
    visibility: visible;
}

.delay-05s {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

.delay-1s {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.delay-15s {
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
}

.delay-20s {
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}

.delay-25s {
    animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
}

.hide {
    display: none;
}

a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0;
    outline: 0;
}

select, select::-moz-focus-inner {
    border :0px;
    color: #000;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #000;
    outline: 0px;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

div.item-typecar-name {
    font-weight: bold;
    font-size: 1.7em;
    line-height: 0;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: left;
}

.type-desc-td {
    font-size: 10px;
}

.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.steps a {
    pointer-events: none;
    cursor: default;
}

.block-content-notif .price-red {
    color: #D94452 !important;
    font-weight: bold;
    font-size: 2.2em;
}

.block-content-notif .price-strikethrough {
    color: #999 !important;
    font-weight: bold;
    font-size: 2.2em;
    text-decoration: line-through;
}

.block-content-notif .price-explanation {
    color: #FA6E14 !important;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 15px;
}

.tooltip.tooltip-main.top.in {
    margin-left: -21px !important;     
}

.konfirmasi-step1 > p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.vmiddle {
    vertical-align: middle !important;
}

.vtop{
    vertical-align: top !important;
}

.footer-table-admin td {
    background-color: #e6e9ed !important;
    text-align: center;
}

.table-admin-center {
    text-align: center;
}

.strike {
    text-transform: uppercase;
    color: #3399FF;
    font-weight: bold;
    font-size: 1.5em;
}

.select2-container {
    /*padding-top: 3px;*/
    /*width: 100% !important;*/
}

.select2-container .select2-selection--single {
    height: 34px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 32px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 32px;
}

.select2-container + .help-block {
    margin-top: 0;
    margin-bottom: 0;
}

.select2-container .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choice {
    padding: 0;
    background: transparent;
    border: none;
    box-shadow: none;
}

.select2-container .select2-choice .select2-arrow {
    display: none;
}

.select2-drop-active {
    border: 1px solid #aaa;
}

.select2-drop {
    margin-top: -5px;
}

#showResults .panel-body {
    padding: 10px 15px !important;
}

.non-resize { resize: none; }

.no-bullet { list-style-type: none;padding: 5px 15px; }
.no-bullet li { margin:5px 0; }

.no-bullet-big { list-style-type: none;padding: 5px 15px; }
.no-bullet-big li { margin:5px 0;font-size:20px; }

/*Transparent navbar bootstrap*/
 .navbar-default {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

.bg-orange { background:#FA6E14 !important; }
.bg-white { background:#FFF !important; }
.text-orange { color:#FA6E14 !important; }
.bg-light-blue { background:#3399FF !important; }
.text-light-blue { color:#3399FF !important; }
.bg-grey { background:#A6A6A6 !important; }
.text-grey { color:#A6A6A6 !important; }
.small-padding-table { margin-bottom:30px !important; }
.small-padding-table td { padding-top:3px !important;padding-bottom:3px !important;margin-bottom:3px !important; }

/* ==========================================================================
Static Page
========================================================================== */

.static-page {
    padding: 50px 0 20px 0;
}

.static-page-menu { 
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}

.static-page-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    color: #000000;
}

.static-page-menu li {
    float: left;
}

.static-page-menu a {
    display: inline-block;
    color: #A6A6A6;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    margin-right: 0px;
    font-size: 1.3em;
    font-weight: bold;
    border-radius:0px;
}

.static-page-menu a:hover {
    /*background-color: #FB944F;*/
    background: linear-gradient(transparent 90%, #FB944F 10%);
    color: #101010 !important;
}

.static-page-menu-active {
    background: linear-gradient(transparent 90%, #FB944F 10%);
    color: #101010 !important;
}

.static-page-container {
    padding-top: 25px;
    padding-bottom: 0px;  
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.static-page-big-font {
    font-size: 3em;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #fff;
}
    
.static-page-medium-font {
    font-size: 1.9em;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
    color: #fff;
}

.static-banner {
    position: relative;
    padding: 20px 0 30px 0;
    min-height: 100px;
    background: rgb(250,110,20);
    background-size: cover;
}

.static-banner-title-small {
    font-size: 2.5em;
    font-weight: 200;
    text-align: center;
    color: #fff;
}

.static-banner-title-medium {
    font-size: 5em;
    font-weight: 800;
    text-align: center;
    color: #fff;
}

.static-banner-title-large {
    font-size: 10em;
    font-weight: 800;
    text-align: center;
    color: #fff;
}

.static-header-title {
    font-size: 2.2em;
    font-weight: 400;
    text-align: center;
    color: #101010;
    margin: 0.5em 0 1em 0;
}

.static-content-text-title {
    text-align: left;
    font-size: 1.4em;
    /**
 * font-weight: bold;
 */
    color: #101010;
}

.static-content-text-body {
    text-align: left;
    font-size: 1.4em;
    color: #101010;
    line-height: 1.5em;
}

.static-content-border {
    border-top:solid 1px #CCCCCC;
    /*background:#fff;*/
    padding:20px 0 10px 0;
}

.static-content-photo-padding {
    padding-top:30px;
}

.static-team-text-title {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: #101010;
    margin: 15px 0;
}

.static-team-text-name {
    font-size: 1.8em;
    font-weight: bold;
    color: #101010;
    margin: 20px 0 0 0;
}


.static-faq-list {
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 1.4em;
    color: #FA6E14;
    line-height: 2em;
}

.static-contact-map {
    margin-bottom: 0px;
}

.static-contact-title {
    font-size: 2em;
    font-weight: bold;
    margin-top: 0px;
}

.static-contact-email {
    color: #101010;
}

.static-contact-email:hover {
    text-decoration: underline;
    color: #101010;
}

/* ==========================================================================
User Offer Page
========================================================================== */

.user-offer-section {
    border: dashed 2px #101010;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}

.user-offer-table-header {
    font-size: 1em;
    font-weight: bold;
    color: #101010;
}

.user-offer-table-content {
    font-size: 1em;
    color: #101010;
}


.user-offer-content-title {
    font-size: 1em;
    margin: 1.5em 0 0.5em 0;
    text-align: center;
    text-decoration: underline;
    color: #101010;
}

.user-offer-price-otr-original {
    color: #7F7F7F;
    display: block;
    font-size: 1.75em;
    font-weight: bold;
    margin: 0;
    text-align: center;
    text-decoration: line-through;
    vertical-align: middle;
}

.user-offer-price-otr-discount {
    color: #FA6E14;
    display: block;
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.user-offer-price-discount-nominal {
    background-color: #FA6E14;
    color: #fff;
    display: inline-block;
    font-size: 2.25em;
    margin: 0 0 -0.5em 0;
    padding: 5px 15px;
    text-align: center;
    vertical-align: middle;
}

.user-offer-financing-type-title {
    color: #101010;
    font-size: 2.4em;
    vertical-align: middle;
    padding: 5px;
    text-decoration: underline;
}

.user-offer-financing-type-content {
    color: #FA6E14;
    font-size: 2.4em;
    font-weight: bold;
    vertical-align: middle;
    padding: 5px;
    text-align: center;
}

.user-offer-financing-type-logo {
    display: inline-block;
    height: 75px;
    padding: 5px 17px;
}

.user-offer-financing-selection-title {
    color: #101010;
    font-size: 2em;
    vertical-align: middle;
    /*padding: 5px 10px;*/
}

.user-offer-financing-selection-content {
    color: #FA6E14;
    font-size: 2em;
    font-weight: bold;
    vertical-align: middle;
    /*padding: 2px 10px;*/
    text-align: left;
}

.user-offer-financing-info {
    margin: 0 0.3em 0 0.3em;
    vertical-align: middle;
    padding: 2px 10px;
}

.user-offer-financing-info-table-title {
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.4em;
    padding: 3px;
    text-align: right;
}

.user-offer-financing-info-table-text {
    font-size: 1.1em;
    line-height: 1.4em;
    padding: 3px;
    text-align: left;
}

.user-offer-financing-info-terms-title {
    display: block;
    font-size: 1.1em;
    padding-top: 2px;
    text-align: left;
    line-height: 1.5em;
}

.user-offer-financing-info-terms-text {
    list-style: none;
    padding-left: 15px;
    margin: 0;
    line-height: 1.5em;
}

.user-offer-financing-info-terms-text li {
    list-style: none;
    padding: 0;
    font-size: 0.9em;
    font-weight: normal;
    text-align: left;
}

.user-offer-financing-info-terms-text li:before {
    padding: 5px;
    content: "\f00c";
    display: inline-block;
    font: normal normal normal 1.2em/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: -20px
    /*  display: none;*/
}

.user-offer-description-terms {
    color: #101010;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.5em 0 0 0;
    vertical-align: middle;
}

.user-offer-bonus {
    margin-bottom: 10px;
}

.user-offer-bonus-text {
    list-style: none;
    padding-left: 5px;
    margin: 0;
    color: #101010;
}

.user-offer-bonus-text li:before {
    padding-right: 5px;
    content: "\f00c";
    display: inline-block;
    font: normal normal normal 1.2em/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: -20px;
    color: #101010;
}

.user-offer-bonus-text li {
    padding: 0 15px 0 15px;
    font-size: 1.2em;
    font-weight: normal;
    text-align: left;
}

.user-offer-expire {
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    vertical-align: middle;
}

.user-offer-terms {
    padding-left: 5px;
    list-style: none;
    text-align: left;
}

.user-offer-contact-dealer {
    margin-top: 30px;
}

.check-bonus label {
    width:100%;
}

.img-center {
    margin:0 auto;
}

#model_car,#type_car,#color_car,.select2 {
    margin:10px 0 !important;
}
#model_car,#type_car,#color_car,.select2 { margin:10px 0 !important; }
.padding-nice { padding:2px; }
.news-content img { margin-right:15px; }
.date-news {
    color: #DBAD1A;
    font-size: 15px;
    display: block;
    margin: -12px 0 -8px 0;
}
.source-news {
    color: #B5B5B4;
    display: block;
    margin: -12px 0 -8px 0;
}

.btn-default-border {
    /*margin-top: 22px;
    font-family: museo-slab, Georgia, "Times New Roman", Times, serif;
    font-size: 24px;*/
    padding: 15px 30px;
    color: #ffffff;
    border-color: #FFF !important;
    background-color: transparent;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    white-space: normal;
}

/* Small devices (tablets, 768px and up) */
@media (max-width:768px) {
    
    /* ==========================================================================
    Hero 768
    ========================================================================== */
    .hero {
        position: relative;
        padding: 60px 0 30px 0;
        min-height: 250px;
        background: url('../images/hero/hero-5-xs.jpg') no-repeat center center;
        background-size: cover;
        color: #fff;
    }

    .hero h1 {
        margin: 20px 0 20px 0;
        font-size: 2.5em;
        color: #fff;
        line-height: 1.2em;
        display: inline-block;
        color: #fff;
        text-shadow: 0 0 15px #666666;
    }

    .hero h3 {
        margin: 0px 0 45px 0;
        font-weight: 400;
        font-size: 1.2em;
        color: #FFF;
        line-height: 1.2em;
        text-shadow: 0 0 5px #000000;
    }

    /* ==========================================================================
    Metric 768
    ========================================================================== */

    .metric {
        background: no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding: 20px 0 0 0;
        color: #eee;
        background-color: #eee;
    }

    .metric h1 {
        color: #F86900;
        margin: 0.35em 0 0.1em 0;
        font-size: 1.25em;
    }

    .metric p {
        font-size: 1em;
        padding-bottom: 1em;
        margin: 0.3em
    }

    /* ==========================================================================
    How It Works 768
    ========================================================================== */

    .how-work .img-circle {
        border: 1px solid #FFF;
        width: 40px;
        height: 40px;
        margin: 15px auto 2px auto;
        vertical-align: center;
        text-align: center;
        background-color: #FA6E14;
    }

    .how-work .img-circle strong {
        font-size: 1.2em;
        line-height: 2.3em;
        color: #FFF;
    }

    .how-work p.header {
        color: #454545;
        font-family: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif !important;
        font-size: 1.3em;
        font-weight: bold;
        margin: 0 auto 2px auto;
        padding: 0 10px;
    }

    .how-work p {
        color: #454545;
        font-family: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif !important;
        font-size: 0.9em;
        margin: 0 auto 20px auto;
        padding: 0 30px;
    }

    /* ==========================================================================
    Promo
    ========================================================================== */
    .promo {
        background: no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding: 20px 0 10px 0;
        color: #fff;
        background-color: #FA6E14;
    }

    .promo h1 {
        color: #fff;
        font-family: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif !important;
        font-size: 2em;
        font-weight: bold;
    }

    .promo ul {
        color: #fff;
        font-family: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif !important;
        font-size: 1.1em;
        padding-top: 20px;
        line-height: 1.5em;
    }

    .promo p {
        font-size: 1.1em;
    }

    /* ==========================================================================
    Carousel Testimony Photo 768
    ========================================================================== */

    .testimony-photo p.testimony-photo-text {
        font-size: 1em;
        color: #fff;
        text-shadow: none;
        background-color: #FA6E14;
        padding: 0 10px;
    }

    /* ==========================================================================
    User Order 768
    ========================================================================== */

    .pick-button-typecar {
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 15px;
        background-color: #FA6E14;
    }

    .pick-button-typecar span {
        font-size: 1.3em;
        color: #fff;
        font-weight: bold;
    }

    div.item-typecar-name {
        text-align: center; 
    }

    div.order-car-price {
        text-align: center;
        padding-top: 10px;
    }

    /* ==========================================================================
    What Is Mulmut.com 768
    ========================================================================== */

    .what-is {
        background: no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding: 20px 0;
        color: #222;
        background-color: #333;
        border-top: 1px solid #444;
        border-bottom: 1px solid #444;
    }

    .what-is p.header {
        color: #eee;
        font-family: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif !important;
        font-size: 1em;
        font-weight: bold;
        margin: 0 auto;
        padding: 0 10px;
    }

    .what-is p {
        color: #eee;
        font-family: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif !important;
        font-size: 1em;
        margin: 0 auto 15px auto;
        padding: 0 10px;
    }

    .what-is ol {
        margin-bottom: 15px;
    }

    .what-is li {
        color: #eee;
        font-family: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif !important;
        font-size: 1em;
        margin-left: 10px;
        padding: 2px 10px 3px 10px;
    }

    /* ==========================================================================
    Ready To Buy
    ========================================================================== */
    .ready-bottom {
        background: url('../images/hero/hero-6-xs.jpg') no-repeat center center;
        background-size: cover;
        border-top: 1px solid #222;
        border-bottom: 1px solid #222;
    }

    .ready-bottom h1 {
        margin: 0 0 25px 0;
        color: #fff;
        text-shadow: 0 0 15px #000000;
        font-size: 1.5em;
    }
    
    /* ==========================================================================
    Footer 768
    ========================================================================== */

    ul.social-buttons {
        list-style: none;
        margin: 0 0 10px 0;
        padding: 0;
    }

    .list-static-page {
        font-size: 0.9em;
    }

    .list-contact {
        font-size: 0.9em;
    }

    .footer-top-content {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .footer-legals {
        font-size: 0.9em;
    }

    /* ==========================================================================
    User Offer
    ========================================================================== */

    .wrap-detail-giveoffer label {
        width: 120px;
    }

    .user-offer-handphone-table-header {
        font-weight: bold;
        padding: 0 5px 2px 5px !important;
        text-align: right;
    }
    .user-offer-handphone-table-content {
        padding: 0 5px 2px 5px !important;
        text-align: left;
    }

    .user-offer-price-discount-nominal {
        font-size: 1.4em !important;
    }
    .user-offer-financing-type-title {
        font-size: 1.5em !important;
        padding: 2px !important;
    }
    .user-offer-financing-type-content {
        font-size: 1.8em !important;
        padding: 2px !important; 
    }
    .user-offer-financing-type-logo {
        display: inline-block;
        height: 40px;
        padding: 5px;
    }
    .user-offer-financing-selection-content {
        font-size: 1.2em !important;
        padding: 2px !important; 
    }
    .user-offer-price-otr-original {
        font-size: 1.2em !important;
        padding: 2px !important; 
    }
    .user-offer-financing-info-table-title {
        font-size: 0.9em;
        font-weight: bold;
        line-height: 1.3em;
        padding: 3px;
        text-align: right;
    }
    .user-offer-financing-info-table-text {
        font-size: 0.9em;
        line-height: 1.3em;
        padding: 3px;
        text-align: left;
    }
    .user-offer-bonus-text {
        list-style: none;
        padding-left: 5px;
        margin: 0;
        color: #101010;
    }

    .user-offer-bonus-text li:before {
        padding-right: 5px;
        content: "\f00c";
        display: inline-block;
        font: normal normal normal 1em/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-left: -20px;
        color: #101010;
    }

    .user-offer-bonus-text li {
        padding: 0 15px 0 15px;
        font-size: 1em;
        font-weight: normal;
        text-align: left;
    }

    /* ==========================================================================
    Static Page 768
    ========================================================================== */
    
    .static-page {
        padding: 50px 0 10px 0;
    }

    .static-page-container {
        padding: 5px 0 0 0;
        margin-right: auto;
        margin-left: auto;
    }
    .static-page-menu a {
        display: inline-block;
        color: #A6A6A6;
        padding: 5px 10px;
        text-decoration: none;
        text-align: center;
        margin-right: 0px;
        font-size: 1.1em;
        line-height: 1.2em;
        font-weight: bold;
        border-radius: 0px;
    }

    .static-header-title {
        font-size: 1.4em;
        font-weight: 400;
        text-align: center;
        color: #101010;
        margin: 10px 0 20px 0;
    }

    .static-banner-title-small {
        font-size: 1.2em !important;
    }

    .static-banner-title-medium {
        font-size: 1.8em !important;
    }

    .static-banner-title-large {
        font-size: 3em !important;
    }

    .static-content-text-title {
        text-align: left;
        font-size: 1.1em;
        font-weight: bold;
        color: #101010;
    }

    .static-content-text-body {
        text-align: left;
        font-size: 1.1em;
        color: #101010;
        line-height: 1.3em;
    }

    .static-team-text-title {
        font-size: 2.3em;
        font-weight: bold;
    }

    .static-faq-list {
        padding-top: 25px;
        padding-bottom: 20px;
        font-size: 1.2em;
        color: #FA6E14;
        line-height: 2em;
    }

    .static-contact-title {
        font-size: 1.3em;
        font-weight: bold;
        margin: 30px 0 20px 0;
    }

    /* ==========================================================================
    Mulmut.com Buttons 768
    ========================================================================== */

    .use-btn-light-blue-small {
        display: inline-block;
        margin: 2px;
        padding: 2px 4px;
        border-color: transparent;
        border-radius: 1px;  
        background-color: #3399FF;
        color: #fff; 
        font-size: 0.9em;
        transition: all 0.3s ease 0s;
        box-shadow: 1px 1px 1px #3300FF;
        cursor: pointer;
        cursor: hand;
    }

    .use-btn-light-blue-medium {
        display: inline-block;
        margin: 3px;
        padding: 4px 8px;
        border-color: transparent;
        border-radius: 2px;  
        background-color: #3399FF;
        color: #fff; 
        font-size: 1.1em;
        transition: all 0.3s ease 0s;
        box-shadow: 1px 1px 1px #3300FF;
        cursor: pointer;
        cursor: hand;
    }

    .use-btn-light-blue-large {
        white-space: normal;
        display: inline-block;
        margin: 4px;
        padding: 7px 14px;
        border-color: transparent;
        border-radius: 2px;  
        background-color: #3399FF;
        color: #fff; 
        font-size: 1.2em;
        transition: all 0.3s ease 0s;
        box-shadow: 1px 1px 1px #3300FF;
        cursor: pointer;
        cursor: hand;
    }

    .use-btn-light-blue-extra-large {
        display: inline-block;
        margin: 6px;
        padding: 10px 20px;
        border-color: transparent;
        border-radius: 3px;  
        background-color: #3399FF;
        color: #fff; 
        font-size: 1.3em;
        transition: all 0.3s ease 0s;
        box-shadow: 2px 2px 1px #3300FF;
        cursor: pointer;
        cursor: hand;
    }

    .use-btn-orange-small {
        display: inline-block;
        margin: 2px;
        padding: 2px 4px;
        border-color: transparent;
        border-radius: 1px;  
        background-color: #FA6E14;
        color: #fff; 
        font-size: 0.9em;
        transition: all 0.3s ease 0s;
        box-shadow: 1px 1px 1px #D35603;
        cursor: pointer;
        cursor: hand;
    }

    .use-btn-orange-medium {
        display: inline-block;
        margin: 3px;
        padding: 4px 8px;
        border-color: transparent;
        border-radius: 2px;  
        background-color: #FA6E14;
        color: #fff; 
        font-size: 1.1em;
        transition: all 0.3s ease 0s;
        box-shadow: 1px 1px 1px #D35603;
        cursor: pointer;
        cursor: hand;
    }

    .use-btn-orange-large {
        white-space: normal;
        display: inline-block;
        margin: 4px;
        padding: 7px 14px;
        border-color: transparent;
        border-radius: 2px;  
        background-color: #FA6E14;
        color: #fff; 
        font-size: 1.2em;
        transition: all 0.3s ease 0s;
        box-shadow: 1px 1px 1px #D35603;
        cursor: pointer;
        cursor: hand;
    }

    .use-btn-orange-extra-large {
        display: inline-block;
        margin: 6px;
        padding: 10px 20px;
        border-color: transparent;
        border-radius: 3px;  
        background-color: #FA6E14;
        color: #fff; 
        font-size: 1.3em;
        transition: all 0.3s ease 0s;
        box-shadow: 2px 2px 1px #D35603;
        cursor: pointer;
        cursor: hand;
    }

    .use-btn-grey-small {
        display: inline-block;
        margin: 2px;
        padding: 2px 4px;
        border-color: transparent;
        border-radius: 1px;  
        background-color: #A6A6A6;
        color: #fff; 
        font-size: 0.9em;
        transition: all 0.3s ease 0s;
        box-shadow: 1px 1px 1px #7F7F7F;
        cursor: pointer;
        cursor: hand;
    }

    .use-btn-grey-medium {
        display: inline-block;
        margin: 3px;
        padding: 4px 8px;
        border-color: transparent;
        border-radius: 2px;  
        background-color: #A6A6A6;
        color: #fff; 
        font-size: 1.1em;
        transition: all 0.3s ease 0s;
        box-shadow: 1px 1px 1px #7F7F7F;
        cursor: pointer;
        cursor: hand;
    }

    .use-btn-grey-large {
        white-space: normal;
        display: inline-block;
        margin: 4px;
        padding: 7px 14px;
        border-color: transparent;
        border-radius: 2px;  
        background-color: #A6A6A6;
        color: #fff; 
        font-size: 1.2em;
        transition: all 0.3s ease 0s;
        box-shadow: 1px 1px 1px #7F7F7F;
        cursor: pointer;
        cursor: hand;
    }

    .use-btn-grey-extra-large {
        display: inline-block;
        margin: 6px;
        padding: 10px 20px;
        border-color: transparent;
        border-radius: 3px;  
        background-color: #A6A6A6;
        color: #fff; 
        font-size: 1.3em;
        transition: all 0.3s ease 0s;
        box-shadow: 2px 2px 1px #7F7F7F;
        cursor: pointer;
        cursor: hand;
    }

    .use-btn-disabled-small {
        display: inline-block;
        margin: 2px;
        padding: 2px 4px;
        border-color: #BFBFBF;
        border-radius: 1px;  
        background-color: transparent;
        color: #101010; 
        font-size: 0.9em;
    }

    .use-btn-disabled-medium {
        display: inline-block;
        margin: 3px;
        padding: 4px 8px;
        border-color: #BFBFBF;
        border-radius: 2px;  
        background-color: transparent;
        color: #101010; 
        font-size: 1.1em;
    }

    .use-btn-disabled-large {
        white-space: normal;
        display: inline-block;
        margin: 4px;
        padding: 7px 14px;
        border-color: #BFBFBF;
        border-radius: 2px;  
        background-color: transparent;
        color: #101010; 
        font-size: 1.2em;
    }

    .use-btn-disabled-extra-large {
        display: inline-block;
        margin: 6px;
        padding: 10px 20px;
        border-color: #BFBFBF;
        border-radius: 3px;  
        background-color: transparent;
        color: #101010; 
        font-size: 1.3em;
    }
    
    .dashboard-padding {
        padding: 30px 0;
    }
    
    .product-img img {
      -webkit-transition: all 1s ease;
         -moz-transition: all 1s ease;
           -o-transition: all 1s ease;
          -ms-transition: all 1s ease;
              transition: all 1s ease;
    }
    
    .product-img img:hover {
      -webkit-filter: blur(5px);
    }
    
    
}